<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>NetWorks -- Contacts</title>
</head>
<body>
    <h1>Contacts</h1>
    <ul>
        <% contacts.forEach( contact => { %>
            <li class='contact'>
                <%=contact%>
            </li>
    <% }) %>  
    </ul>
    <table>
        <tr>
            <th>Date Added</th>
            <th>Company Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Progress</th>
            <th>Follow Up</th>
        </tr>
        <% contacts.forEach( contact => { %>
            <tr class="contactList">
                <td >
                    <%=contact.dateAdded%>
                </td>
                <td >
                    <%=contact.company%>
                </td>
                <td >
                    <%=contact.firstName%> <%=contact.lastName%>
                </td>
                <td >
                    <%=contact.email%>
                </td>
                <td>
                    progress bar
                </td>
                <td >
                    follow up
                </td>
                <%=contact%>
            </tr>
    <% }) %>  
    </table>
    <div id="root"></div>
<script src="js/index.js"></script>
</body>
</html>